<div class="content-area">
    <div class="content-box">
      <h1>Manange Dealer</h1>
      <div class="clearfix">
        <div class="search-area"> <span>Search</span>        
          <input type="search" name="search" value="" pInputText (input)="searchByBrand()" [(ngModel)]="brandSearch" placeholder="Dealer Name" class="search-box">
          <span class="p-input-icon-left btn-search">
            <i class="pi pi-search"></i>
          </span>
        </div>
        <a href="create-account.html" class="btn create-btn">Create ad account</a> </div>
      <div class="account-table">
   
          <p-table [value]="products" (sortFunction)="customSort($event)" [customSort]="true" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,15,50]" class="mangacnt">
         
          <ng-template pTemplate="header" class="table">
            <tr>
              <th pSortableColumn="DealerName">Dealer Name<p-sortIcon field="DealerName"></p-sortIcon></th>
              <th pSortableColumn="Department">Department <p-sortIcon field="Department"></p-sortIcon></th>
              <th pSortableColumn="ShortName">Short Name <p-sortIcon field="ShortName"></p-sortIcon></th>
              <th pSortableColumn="CreatedOn">Created On <p-sortIcon field="CreatedOn"></p-sortIcon></th>              
              <th pSortableColumn="Location">Location <p-sortIcon field="Location"></p-sortIcon></th>
              <th pSortableColumn="LPlink">LP link<p-sortIcon field="LPlink"></p-sortIcon></th>
              <th pSortableColumn="Status">Adwords <p-sortIcon field="Adwords"></p-sortIcon></th>
              <th pSortableColumn="Status">Status <p-sortIcon field="Status"></p-sortIcon></th>
              <th pSortableColumn="Action">Action</th>            
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td data-label="Dealer Name">{{product.DealerName}}</td>
              <td data-label="Department">{{product.Department}}</td>
              <td data-label="Short Name">{{product.ShortName}}</td>
              <td data-label="Created On">{{product.CreatedOn}}</td>              
              <td data-label="Location">{{product.Location}}</td>
              <td data-label="LPlink">{{product.LPlink}}</td>
              <td data-label="Adwords">{{product.Adwords}}</td>
              <td data-label="Status">{{product.Status}}</td>
              <td data-label="Action" class="actn">{{product.Action}} <span><img src="../../../../assets/images/edit.png" alt="Edit"></span> <span><img src="../../../../assets/images/delete.png" alt="Delete"></span> </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <button type="button" class="btn-dwn" (click)="exportExcel()"><img src="../../../../assets/images/icon-excel-white.svg" alt="" class="image"> <span>Download Excel</span></button>
          </ng-template>
          <!-- <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template> -->
        </p-table>
            
        
        
        
      </div>
    </div>
  </div>
