<div class="content-area">
    <div class="content-box">
      <h1>Create Dealer</h1>
      <p class="subtext text-left">Add a Single Dealer</p>
      <div class="dealer">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="dl-name" value="" class="form-control" id="dlName" aria-describedby="dlname" placeholder="Dealer Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="select-bx form-control" id="dlDept">
                <option value="department">Department</option>
                <option value="">West Zone</option>
                <option value="">East Zone</option>
                <option value="">North Zone</option>
                <option value="">South Zone</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="select-bx form-control" id="dlLoc">
                <option value="location">Location</option>
                <option value="banglore">Banglore</option>
                <option value="delhi">Delhi</option>
                <option value="hyderabad">Hyderabad</option>
                <option value="mumbai">Mumbai</option>
                <option value="navimumbai">Navi Mumbai</option>
                <option value="pune">Pune</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="dl-phone" value="" class="form-control" id="dlPhone" aria-describedby="dlname" placeholder="Phone No">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="select-bx form-control" id="dlUrl">
                <option value="lpurl">LP Url</option>
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="select-bx form-control" id="dlCurrency">
                <option value="currency">Currency</option>
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" name="btn-add" value="" id="btnAdd" class="btn add-btn pull-right">Add</button>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="preview text-center">
            <p class="text-center downld-text"> Don’t have excel format? Download it here </p>
            <a href="#"><img src="images/preview-btn.png" alt=""></a> </div>
        </div>
        <div class="col-md-6">
          <p class="or">OR Add Multiple Dealers Via Excel</p>
          <div class="upload-box upload-box2 text-center"> </div>
        </div>
      </div>
    </div>
  </div>