  <!-- <nav class="navbar navbar-dark fixed-header bg-white shadow-lg" style="height:50px;">
    <span class="navbar-brand mb-0 h1 font-color">Dealer Digitisation</span>
    <span class="font-color hand-cursor" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      Logout
    </span>
  </nav> -->

  <header>
    <div class="container"> 
      <div class="row">
      <div class="col-lg-12">

         
      <div class="logo"><span class="menubar"><a href="#" class="menu-toggle"><span></span></a></span><img src="../../../../assets/images/logo.png" alt="Logo"></div>
      <div class="user-account"> <a href="#" class="notify"><img src="../../../../assets/images/icon-bell.png" alt="Logo"><span>1</span></a>
        <div class="dropdown user"><a href="#" class="dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img src="../../../../assets/images/icon-user-img.png" alt="Logo"><span> welcome <span>John Doe</span></span><span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="user-menu">
            <li><a href="#">Account setting</a></li>
            <li><a href="#">User Account</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  
  </header>


