
  
    <div class="sidebar">
      <ul class="menu-list">
        <li><a href="#">
          <!-- <span><img src="images/icon-performance.png" alt="icon"></span> -->
          <span class="material-icons">auto_graph</span>
          <span>Performance</span></a></li>
        <li><a href="#">
          <!-- <span><img src="images/icon-improvements.png" alt="icon"></span> -->
          <span class="material-icons">
            moving
            </span>
          <span>Improvements</span></a></li>
        <li><a href="manage-dealers.html">
          <!-- <span><img src="images/icon-dealers.png" alt="icon"></span> -->
          <span class="material-icons">
            settings
            </span>
          
          <span>Manage Dealers</span></a></li>
        <li class="active"><a href="manage-account.html">
          <!-- <span><img src="images/icon-performance.png" alt="icon"></span> -->
          <span class="material-icons">
            settings
            </span>
          <span>Manage Accounts</span></a></li>
        <li><a href="manage-account.html">
          <!-- <span><img src="images/icon-compaigns.png" alt="icon"></span> -->
          <span class="material-icons">
            settings
            </span>
          <span>Manage Campaigns</span></a></li>
        <li><a href="#">
          <span class="material-icons">
            settings
            </span>
          <!-- <span><img src="images/icon-settings.png" alt="icon"></span> -->
          
          <span>Settings</span></a></li>
      </ul>
    </div>


<!-- <div class="sidenav p-0" style="margin-top:50px" id="mySidenav">
  <div class="nav">
    <div class="nav-item w-100">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':isActivePerformance}">
            <i class="nav-icon fa fa-tachometer text-white"></i>
            <span class="ml-2 hand-cursor" (click)="goToPerformance()">Performance</span>
          </a>
        </li>
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':false}">
            <i class="nav-icon fa fa-flask text-white"></i>
            <span class="ml-2 hand-cursor">Improvement</span>
          </a>
        </li>
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':false}">
            <i class="nav-icon fa fa-users text-white"></i>
            <span class="ml-2 hand-cursor" (click)="goToManageDealer()">Manage Dealer</span>
          </a>
        </li>
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':false}">
            <i class="nav-icon fa fa-shield text-white"></i>
            <span class="ml-2 hand-cursor" (click)="goToManageAdAccount()">Manage Ad Account</span>
          </a>
        </li>
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':false}">
            <i class="nav-icon fa fa-university text-white"></i>
            <span class="ml-2 hand-cursor">Manage Campaign</span>
          </a>
        </li>
        <li class="list-group-item bg-color">
          <a class="text-white font-size-14" [ngClass]="{'sidepanel-active':false}">
            <i class="nav-icon fa fa-cogs text-white"></i>
            <span class="ml-2 hand-cursor">Settings</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
