.container {
  max-width: 1280px
  ;
}
::-webkit-input-placeholder{ color: #172b4d;}
::-moz-placeholder{ color: #172b4d;}
::-ms-input-placeholder{ color: #172b4d;}
::placeholder{ color: #172b4d;}
input.form-control::placeholder{ color: #172b4d;}
.wrapper{background: #e3e4ea;}
/* header */
header{background: #187ebd; padding: 25px 0px; color: #fff; }
span.menubar {float: left;margin-right: 15px;}
header .logo{float: left; width: 30%;}
header .logo img {max-width: 100%; height: auto;}
header .user-account{float: right; width: 70%; text-align: right;}
header .user-account a:not(.dropdown-menu a){display: inline-block; margin-left: 30px;}
header .user-account a.notify{position: relative;}
header .user-account a.notify span{position: absolute; top: -5px; right: -5px; color: #fff; font-size: 10px; font-weight: 600; background: #dc5526; border-radius: 50%; width: 16px; height: 16px; line-height: 18px; text-align: center;}	
header .user-account .user {display: inline-block}
header .user-account a img {margin-right: 10px;}
header .user-account .user a img {margin-right: 10px;
  border: 3px solid #fff;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 43px;
  height: 43px;
}
header .user-account a span {
    color: #fff;
}
header .user-account a span span {
    font-weight: 600;
}
header .user-account .user .dropdown-menu {
    left: auto;
    right: 0;
}
.sidebar {
  height: 100vh;
  background: #172b4d url("../src/assets/images/bg-img.png") scroll no-repeat left bottom;
}
.content-area {
  background: #e3e4ea;
  padding: 10px;
  /* height: 100vh; */
}
.sidebar ul {background: #172b4d;padding: 27px 0;margin: 0;}
.sidebar ul li {
  padding: 5px 0;
  margin-bottom: 10px;
  display: block;
  background: #172b4d;
}
.sidebar ul li.active {
/*background: #fff;*/
}
.sidebar ul li a {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-content: flex-start;
align-items: stretch;
justify-content: flex-start;
}
.sidebar ul li.active a{
  color: #172b4d;
}
.sidebar ul li a span {
  background: #172b4d;
  /*display: inline-block;*/
}
.sidebar ul li.active a span, .sidebar ul li:hover a span {
  background: #fff;
color: #172b4d;
}
.sidebar ul li a span:first-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 7px;
  padding: 12px 13px 12px 10px;
  width: 52px;
  position: relative;
}
.sidebar ul li a span:first-child:before {
  content: "";
  background: #ffffff;
  position: absolute;
  left: -3px;
  top: 0;
  width: 3px;
  height: 45.5px;
}
.sidebar ul li a span:nth-child(2) {
  /*width: 79.666%;*/
width: 100%;
  padding: 13px 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}	
.content-box {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6.24px 1.76px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 0px 6.24px 1.76px rgba(0, 0, 0, 0.14);
	padding: 30px 18px;
  max-width:  989px;
  /* min-height: 636px; */
  z-index: 2;
}
.content-box h1{ color: #172b4d; text-align: left; text-transform: uppercase; margin: 0 0 20px;font-family: inherit; font-weight: 600;}	
	
.search-area {
  position: relative;
  margin-bottom: 32px;
  width: 60%;
  float: left;
}
.search-area span {
  color: #404046;
  font-size: 16px;
  font-weight: 600;
}
.search-box {
  border: 1px solid rgb(233, 229, 229);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7.68px 0.32px rgb(0 0 0 / 10%);
  width: 84%;
  height: 50px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  padding: 5px 13px;
  margin-left: 8px;
}
.btn-search {
  border: 1px solid transparent;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 55px;
}
.create-btn {
  color: #fff;
  background: #f25822;
  width: 181px;
  height: 50px;
  float: right;
  margin-left: 30px;
  padding: 16px 5px;
}
.btn {
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.p-datatable .p-datatable-thead > tr > th {
  font-size: 11px;
  font-weight: 600;
  background: #172b4d;
  color: #fff;
  padding: 13px 7px;
  text-transform: uppercase;
  vertical-align: middle;
}
.p-datatable .p-datatable-tbody > tr > td{padding: 13px 7px;}
.p-datatable .p-sortable-column.p-highlight, .p-datatable .p-sortable-column:not(.p-highlight):hover  {
  background: #187ebd;
  color: #fff;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #fff;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #fff;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon{color: #fff;}

.btn-dwn {
  width: 257px;
  height: 50px;
  background: #0c4ca3;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  line-height: 50px;
  display: block;
  transition: all 0.5s ease;
  /* margin: 30px 0 0; */
  border: 0;
  outline:none;
  padding: 0;
}
.btn-dwn img {
  margin-right: 12px;
}
.table>tbody>tr>td:last-child a:first-child img {
  margin-right: 10px;
}
.actn span:first-child{padding-right: 10px;}
.mangacnt .p-paginator-current{display: none;}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight, .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover, .p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover, .p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover{background: #f47153;color:#fff;border-color: #f47153;}
.p-paginator .p-paginator-pages .p-paginator-page, .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last{width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #f47153;
  border: 1px solid #ae8396;
  padding: 0;
  min-width: 25px;
  font-size: 12px;
  font-weight: 600;}

  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last{font-size: 12px;
    font-weight: 600;color: #ae8396;}
    .pi {
      font-size: 12px;
  }
  .p-dropdown {
    background: #ffffff;
    border: 1px solid #ae8396;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    height: 25px !important;
    width: 40px;
    font-size: 12px;
}
.p-dropdown-label {
  overflow: inherit !important;
  font-size: 12px;
  padding: 0 0 0 8px;color: #ae8396;
}
.p-dropdown-trigger-icon.pi{color: #ae8396;}
footer{ padding:10px 0 15px 0;}
footer p{ color: #9a9eab; font-family: inherit; font-size: 14px; font-weight: normal; text-align: center; margin:0; }

/* create dealer */
.subtext {
  color: #172b4d;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 8px;
}
.dealer {
  border: 1px solid #ddd;
  padding: 36px 36px 25px 36px;
}
.dealer .form-group {
  margin-bottom: 9px;
}
.dealer .form-control {
  border-width: 0px 0px 1px 0px;
  border-color: #d4d8e6;
  box-shadow: none;
}
.dealer .form-control {
  border-width: 0px 0px 1px 0px;
  border-color: #d4d8e6;
  box-shadow: none;
}
select.form-control {
  appearance: none;
  background-image: url("../src/assets/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}
.add-btn {
  color: #fff;
  background: #f25822;
  width: 113px;
  height: 51px;
  padding: 16px 5px;
  margin-top: 36px;
}
.or {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 20px !important;
}
.upload-box2 {
  padding: 86px;
}
.upload-box {
  border: 1px dashed #d7d7d7;
  border-radius: 5px;
  padding: 124px;
  max-width: 600px;
  margin: 0 auto 40px;
}
.downld-text {
  color: #386580;
  font-weight: 600;
  margin-bottom: 22px;
}
.preview {
  padding-top: 75px;
  padding-bottom: 75px;
}






@media (max-width: 767px) {
  .search-box {
    margin-left: 0;
  }
  .table-responsive {
    border: 1px solid #dfe7f2;
  }
  .table > tbody > tr > th {
    padding: 13px 7px;
  }
  /*manage dealer mobile table css*/
  .p-datatable .table-row {
    margin-left: -18px;
    margin-right: -18px;
  }
  .p-datatable table {
    border: 0;
    width: 100%;
  }
  .p-datatable table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .p-datatable table tr {
    border-bottom: 3px solid #172b4d;
    display: block;
    margin-bottom: 10px;
  }
  .p-datatable table th {
    font-size: 14px;
    font-weight: 600;
  }
  .p-datatable table td {
    border-bottom: 1px solid transparent;
    display: block;
    font-size: 12px;
    padding: 12px 7px;
    text-align: left;
  }
  .p-datatable table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    min-width: 150px;
  }
  
  }






















